.about {
  padding: 2rem;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-info,
.team-info,
.extra-info {
  background: #e0e0e0;
  padding: 1rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #555;
}
